
/* make the customizations */
$theme-colors: (
        "info": tomato,
        "danger": teal
);

// $body-color: #fff;
$body-bg: rgb(15, 15, 15);


$font-family-sans-serif: "Futura-Pt", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       "Futura-Pt", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: "Futura-Pt";

$btn-border-radius: 0;


// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";


