body {
  margin: 0;
  font-family: "Futura-Pt", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bg {
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
  padding-right: 4rem;
}

.nav-toggle {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
.nav-toggle,
.btn:active,
.btn:focus,
.btn.active {
  /* background-image: none; */
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
   outline: none !important;
}

.nav-font-style {
  font-family: pragmatapro-fraktur, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Noto Sans", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 2.2rem;
  color: #EBDFF7;
}

.dashboard-header {
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.header-text {
  font-family: pragmatapro-fraktur, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Noto Sans", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  font-size: 4.5rem;
  color: #EBDFF7;
  margin-left: 1rem;
  margin-right: 1rem;
}


@media screen and (max-width: 768px) {
  .header-text { 
    font-size: 3em; 
 }
  .header-subttext { 
    font-size: 1rem; 
 }

 
}

.header-subtext {
  font-weight: 400;
  font-size: 1.5rem;
  color: #EBDFF7;
  padding-top: 1.7rem;
  letter-spacing: .09em;
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn-primary {
  background: none;
  border: 1;
  border-color: #ebdff7de;
  font-size: 1.2rem;
}

.btn-primary:hover {
  background: #ebdff7;
  border-color: #ebdff7de;
  color: #000;
}

.dynamic-input-btn {
  font-size: 2rem;
  border: none;
}
.dynamic-input-btn:hover {
  color: rgb(250, 192, 0);
  background: none;
}
.new-video-page {
  padding-top: 8rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.duration-seconds {
  color: #EBDFF7;
  letter-spacing: .09em;
}
#formBasicRangeCustom::-webkit-slider-thumb {
  background: rgb(250, 192, 0);
  
}

.page-content-wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
}
.song-accordion {
  background: #fdfbff;
  border-radius: 0;
}

.plus-accordion {
  background: #fffced;
  /* border-radius: 0; */
}

.custom-spacer {
  padding-bottom: 1.8rem;
}